-# Set some defaults
:ruby
  background  ||= 'site/cuben.svg'
  add_class   ||= nil
  title       ||= @page_title
  hide_title  ||= false

  # parse some classes
  unless add_class.nil?

    add_class = [ add_class ] unless add_class.is_a?( Array )
    add_class = classnames( add_class, 'masthead--' )

  end

  # get some content
  content = yield.strip

%header.masthead{ class: add_class }

  -# if we have a title
  - unless title.blank?
    %h1.masthead__title.block.-alt{ class: ( hide_title ? 'a11y' : nil )}= title

  -# Content
  .masthead__content
    - if background.is_a?( String )
      .masthead__background= image_tag( background, alt: '', class: 'masthead__background-image' )
    - else
      .masthead__background{ style: "background-color: ##{background.colour}" }
        = lazyloaded_image_tag( background, blur: true, default: 768, dimensions: [ 1400, 1200, 1024, 768, 640, 320 ], html: { alt: '', class: 'masthead__background-image', 'aria-hidden': true })

    - unless content.blank?
      .masthead__copy= content.html_safe
