:ruby
  id    = media.nil? ? '{{id}}' : media.id
  title = media.nil? ? '{{title}}' : media.to_s
  url   = media.nil? ? '{{base64_preview}}' : polymorphic_url( media.cms_image )

%article.media{ id: "media-#{id}", 'data-media-id': id }
  %header.media__header
    %strong.media__title= title

  .media__content
    %img.media__media{ src: url, alt: '' }

  %footer.media__actions{ class: ( @select_mode ? '-select' : '-edit' )}
    - if @select_mode
      %input.media__select-input{ type: ( @multiple ? :checkbox : :radio ), id: "media__select--#{id}", name: 'select_media[]', value: id }
      %label.media__select-label{ for: "media__select--#{id}" }= prompt_t( Media, :select_this )
    - else
      = link_to download_admin_media_path( id: id ), class: 'media__action -download' do
        = icon( 'download', title: prompt_t( Media, :edit_button ))
      = link_to edit_admin_media_path( id: id ), class: 'media__action -edit' do
        = icon( 'edit', title: prompt_t( Media, :edit_button ))
      = link_to destroy_admin_media_path( id: id ), class: 'media__action -destroy' do
        = icon( 'trash', title: prompt_t( Media, :destroy_button ))
