%footer.footer
  .container.-d.footer__inner
    %strong.footer__copy © Jon Pearse, 2013–#{Date.today.year}

    %ul.footer__contact
      -# Disabling Edge auto-detection, because while the functionality is useful, I can’t find any way of styling the
      -# resulting link… which is super-frustrating :/
      %li{ 'x-ms-format-detection': :none }
        = icon( 'phone', title: 'Phone' )
        029 2014 2202

      %li
        = link_to 'mailto:hello@jonpearse.net' do
          = icon( 'envelope', title: 'Email' )
          %span.a11y  hello@jonpearse.net

      %li
        = link_to 'https://twitter.com/jonpearse', rel: 'external nofollow noopener' do
          = icon( 'tw1tter', title: 'Twitter' )
          %span.a11y  @jonpearse

      %li
        = link_to 'https://rubygems.org/profiles/jonpearse', rel: 'external nofollower noopener' do
          = icon( 'gem', title: 'RubyGems' )
          %span.a11y  @jonpearse

      %li
        = link_to 'https://github.com/jonpearse', rel: 'external nofollow noopener' do
          = icon( 'github', title: 'Github' )
          %span.a11y  @jonpearse
