- @unwrap_content ||= false
!!!
%html.no-js{ lang: 'en-GB', class: ( cookies.key?( :'assume-wf' ) ? 'wf-assumed' : nil )}
  %head= render partial: 'layouts/site/head'
  %body

    -# SVG icon definitions
    .svg-icon-defs= asset_contents( 'icons-site.svg' ).html_safe

    -# Header
    = render partial: 'layouts/site/banner'

    -# Main content
    %main

      -# Masthead
      = yield :masthead

      -# Main content
      - if @unwrap_content
        = yield
      - else
        .content= yield

      -# Drivers
      = render partial: 'site/blocks/latest_articles'
      = render partial: 'site/blocks/talk_to_me'

    -# Footer
    = render partial: 'layouts/site/footer'
    = asset_contents( 'site/preloader.svg' ).html_safe
    = render partial: 'layouts/site/js'
