!!!
%html.no-js.no-ix{ lang: 'en-GB', class: ( cookies.key?( :'assume-wf' ) ? 'wf-assumed' : nil )}
  %head= render partial: 'layouts/site/head'

  %body
    -# Icon spritesheet
    .svg-icon-defs= asset_contents( 'icons-site.svg' ).html_safe

    = yield

    -# Site banner
    -# = render partial: 'layouts/site/banner'

    -# Main content
    -# %main.ix

      -# Masthead
      = yield :Masthead

      -# Page content
      .page-content{ 'aria-labelledby': :masthead }= yield

      -# Drivers
      -# = render partial: 'site/blocks/latest_articles'
      -# = render partial: 'site/blocks/talk_to_me'

    -# Footer
    -# = render partial: 'layouts/site/footer'

    -# JS, etc
    = render partial: 'layouts/site/js'
